:root {
  /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
  --cor-de-fundo: #f5f5f5;
  --cor-de-link: #000;
  --cor-de-about: #EAF2FD
}

body {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: var(--cor-de-fundo);
  font-family: "Raleway";
  line-height: 1;
  margin: 0;
  padding: 0;
}

ol,
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--cor-de-link);
}

/*Sección Menu*/
section.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.menu__header {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.6rem;
}

.menu__list {
  display: none;
}

/*Sección Title*/
section.title {
  width: 100%;
  padding: 16px;
}

.title__div {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-flow: column wrap;
  gap: 16px;
}

.title__profile {
  height: 98px;
  aspect-ratio: 1 / 1;
}

.title__bio {
  text-wrap: pretty;
  font-size: 2.2rem;
  font-weight: bold;
}

.title__subsection {
  text-wrap: pretty;
  font-size: 1.6rem;
  font-weight: 300;
}

.title__network {
  height: 16px;
  display: flex;
  font-weight: bold;
  gap: 8px;
  padding: 0;
  margin: 0;
}

.title__network__item {
  font-size: 1.4rem;
}

.title__network__item img {
  height: 100%;
}

/*Sección About*/
section.about {
  width: 100%;
  background-color: var(--cor-de-about);
  padding: 16px;
}

.about__title {
  font-size: 2.2rem;
  font-weight: bold;
}

.about__paragraph {
  font-size: 1.4rem;
  font-weight: 300;
}

.about__container img {
  width: 140px;
  height: auto;
}

/*Section Skills*/
section.skills {
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.skills__title {
  font-size: 2.2rem;
  font-weight: bold;
}

.skills__line {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px 16px;
}

.skills__box {
  display: flex;
  width: 40%;
  flex-grow: 1;
  align-items: flex-end;
  background-color: white;
  height: 118px;
  padding: 16px;
}

.skills__img {
  height: 37px;
  width: min-content;
}

.skills__img img {
  height: 100%;
}

.skills__name {
  margin-top: 8px;
  font-size: 1.6rem;
  font-weight: bold;
}

/*Sección Hobbies*/
section.hobbies {
}

/* Experiencia Académica*/
section.academic {
}

/* experiencia*/
section.experience {
}

/*Contacto*/
section.formcontato {
}

/*footeer*/
section.footer {
}

/*Tablet*/
@media (min-width: 768px) {
  /* Menú */
  .menu__list__item__contato {
    font-weight: bold;
  }
  
  /*title*/
  .title__div {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  
  .title__profile {
    height: 146px;
    position: relative;
    right: 0;
    top: 0;
  }
  
  .title__container {
    width: 80%;
  }
  
  .title__network {
    gap: 32px;
  }
  
  /*Skills*/
  .skills__box {
    width: 25%;
  }
  
  /*Hobbies*/
  
  /*Formación Académica*/
  
  /*Experiencia Profesional*/
}

/*Mobile*/
@media (min-width: 1425px) {
  /*Menu*/
  section.menu, section.title, section.skills {
    width: 85%;
    margin: 0 auto;
  }
  
  .menu__list {
    display: flex;
    flex-grow: 2;
    gap: 32px;
  }
  
  .menu__list .menu__list__item:last-child {
    font-weight: bold;
  }
  
  .menu__list__item__contato {
    display: none;
  }
  
  /*Titulo*/
  .title__profile {
    height: 368px;
  }
  
  .title__container {
    width: 65%;
  }

  .title__bio {
    font-size: 3.2rem;
  }

  .title__subsection {
    font-size: 2.2rem;
  }

  /*Sección About*/
  section.about {
    padding: 16px 8%;
    width: 85%;
  }

  .about__container {
    width: 65%;
  }

  /*Skills*/
  .skills__box {
    width: 10%;
    height: 174px;
  }

  /*Hobbies*/

  /*Formación Académica*/

  /*Experiencia Profesional*/

  /*Contacto*/

  /*Footer*/
}
